{% extends "base.html" %}


{% block title %}
BookMark -- Welcome
{% endblock %}

{% block content %}
              
                <article>
                    <header>
                        <h1>Welcome</h1>
                        <p>BookMarkMe is a simple bookmarking site</p>
                    </header>
                    <section>
                        <h2>Title: {{ title }}</h2>
                        <p>Text: {{ text }}
                        by {{ user }} {{  user.initials() }} </p>
                    </section>
                    <section>
                        <h2>Recent bookmarks</h2>
                        {% if new_bookmarks %}
                        <ul>
                        {% for bookmark in new_bookmarks %}
                        <li>{{ bookmark.user }} added <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
                        {% if bookmark.description %}
                         with description {{ bookmark.description }}
                         {% endif %}</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        No bookmarks yet
                        {% endif %}
                        
                    </section>
                
                    <footer>
                        <h3>article footer h3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
                    </footer>
                </article>
 {% endblock %}  
                
